{% extends 'main/layout.html' %}

{% block title %}Створення нової карти{% endblock %}

{% block content %}
<div class="features">
  <h1>Створення нової карти</h1>

  <form method="post" action="{% url 'newcard' %}">
    {% csrf_token %}
    <div>
      <label for="pan">Номер картки:</label>
      <input type="text" name="pan" id="pan" maxlength="16" required>
    </div>
    <div>
      <label for="expiration_date">Дата закінчення сроку дії:</label>
      <input type="text" name="expiration_date" id="expiration_date" maxlength="7" required>
    </div>
    <div>
      <label for="cvv">CVV код:</label>
      <input type="text" name="cvv" id="cvv" maxlength="3" required>
    </div>
    <div>
      <label for="issue_date">Дата видачі:</label>
      <input type="date" name="issue_date" id="issue_date" required>
    </div>
    <div>
      <label for="owner_id">ID власника:</label>
      <input type="text" name="owner_id" id="owner_id" required>
    </div>
    <button type="submit">Створити</button>
  </form>
</div>
{% endblock %}