[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
fastapi = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
uvicorn = "*"
python-dotenv = "*"
fastapi-users = {version = "*", extras = ["sqlalchemy"]}
asyncpg = "*"
pydantic = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.5"
